.analytics-search {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.analytics-card {
    text-align: center;
}

.analytics-card h2 {
    margin-top: 10px;
}
.timeline-container {
    max-height: 500px;
    overflow-y: auto;
}